@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");

@tailwind base;
@tailwind components;

@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden; /* Prevent horizontal scroll */
}

:root {
  --bg-image: url("./assets/pattern.png");
}

::-webkit-scrollbar {
  width: 6px;
  position: fixed;
  right: 0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  background-color: #090e34;
  position: relative;
}

::-webkit-scrollbar-thumb {
  background-color: #0f3dde;
  opacity: 0.8;
  border-radius: 2px;
  width: 0px;
}

@layer components {
  .displayFlex {
    @apply flex justify-center items-center;
  }
  .link {
    @apply p-3 py-4 bg-[#F0EDFF] flex items-center rounded-2xl w-[60%] xxs:w-[80%] sm:w-[40vw] lg:w-[75%] my-2 text-[#1c1c1c] lg:text-left;
  }
  .innerLink {
    @apply ml-2 bg-[#F0EDFF] w-[90%] outline-none border-none;
  }
  .registerOptions {
    @apply text-[#0f3dde] cursor-pointer hover:underline ml-2;
  }
  .registerImg {
    @apply absolute lg:bottom-0 lg:text-lg xl:text-xl;
  }
  .hoverEffect {
    @apply duration-150 ease-in-out cursor-pointer flex-1;
  }
  .profileDetails {
    @apply bg-[#090e34] m-[1px] p-[10px] text-sm font-normal flex items-center justify-between;
  }
  .buttonHover {
    @apply relative z-10 before:absolute before:left-0 before:bottom-0 before:-z-10 before:h-full before:w-full before:origin-top-left before:scale-x-0 before:bg-[#090e34] before:transition-transform before:duration-300 before:content-[''] before:hover:scale-x-100 before:hover:rounded-lg after:hover:rounded-lg;
  }
}

html {
  scroll-behavior: smooth;
}
.bg-gradient-text {
  background: linear-gradient(to right, #090e34, #243be4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.workspace_shadow {
  box-shadow: 3px 3px 12px 5px rgba(0, 0, 0, 0.1);
}
