.how-it-works-section {
  background: linear-gradient(91deg, #002865 0.25%, #004ec3 100%);
}

.label {
  height: 138px;
  width: 584px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.label .heading-simple-and {
  color: #ffffff;
  font-family: "Inter-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 138px;
  letter-spacing: 0;
  line-height: 56.2px;
  text-align: center;
  align-items: center;
  width: 100%;
}

.steps-container {
  margin-bottom: 20px;
  margin-top: 50px;
}
