.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #090e34;
  color: #ffffff;
  padding: 60px 30px;
  

 
}

.footer div {
  margin-bottom: 20px;
  cursor: pointer;
}

.caption, .address, .number {
  margin: 0;
  padding: 20px 10px;
  font-family: "Inter-BoldItalic", Helvetica;
  
}


.socials {
  display:inline-block;
  flex-direction: column;
  align-items: center;
  line-height: 2;
  padding-top: 05px;
  
  
}
.socials h1{
    font-weight: 600;
    font-size: 22px;

}



@media (min-width: 768px) {
  .footer {
    flex-direction: row;
  }

  .socials {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
  }
}