.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #090e34;
  color: #ffffff;
  padding: 60px 30px;
  

 
}

.footer div {
  margin-bottom: 20px;
  cursor: pointer;
}

.caption {
  margin: 0;
  padding: 10px 10px;
  font-family: "Inter-BoldItalic", Helvetica;
  
}




@media (min-width: 768px) {
  .footer {
    flex-direction: row;
  }

  .socials {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
  }
}