.PriceSection {
  background: linear-gradient(180deg, #00265f 0%, rgba(0, 47, 215, 0.84) 100%);
  color: #ffffff;
  text-align: center;

}


.title p{
  margin:16px; 
}

.title label{
  margin: 7px; 
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.priceBox {
  display: flex;
  align-items: center;
  justify-content: center;

}


