* {
  scroll-behavior: smooth;
}

.navbar {
  /*display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: linear-gradient(91deg, #002865 0.25%, #004ec3 100%); */
  position: relative;
  top: 0;
  z-index: 999;
}

.logo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.login,
.signup,
.logout {
  padding: 10px 30px;
  color: #0b113a;
  font-size: 22px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  word-wrap: break-word;
  border-radius: 12px;
  border: none;
  margin-right: 15px;
  cursor: pointer;
  background: #fff;
}
