* {
  scroll-behavior: smooth;
}

.navbar {
  z-index: 999;
}

.login,
.signup,
.logout {
  color: #0b113a;

  font-family: "Work Sans", sans-serif;

  word-wrap: break-word;

  border: none;
  margin-right: 15px;
  cursor: pointer;
  background: #fff;
}
